@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

.new-thought-form {
    width: 250px;
    height: 300px;
    background-color: var(--clr-panels);
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:50px;
    margin:auto;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    font-family:var(--font-primary);
    align-items: center;
    
    visibility: hidden;
    
    /* transition: all 0.5s ease; */
}
.shadow-anim{
    animation-name: shadow-blue;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes shadow-blue{
    0%{
        box-shadow: none;
        /* visibility: visible; */
    }
    100%{
        box-shadow: 0 0 500px var(--clr-shadow-blue);
    }
}
@keyframes shadow-red{
    0%{
        box-shadow: none;
        /* visibility: visible; */
    }
    100%{
        box-shadow: 0 0 500px var(--clr-shadow-red);
    }
}
@keyframes shadow-green{
    0%{
        box-shadow: none;
        /* visibility: visible; */
    }
    100%{
        box-shadow: 0 0 500px var(--clr-shadow-green);
    }
}
@keyframes shadow-orange{
    0%{
        box-shadow: none;
        /* visibility: visible; */
    }
    100%{
        box-shadow: 0 0 500px var(--clr-shadow-orange);
    }
}
.btn-close-new{
    position:absolute;
    right:2px;
    top:2px;
}
.btn-close-new i{
    font-size:1.5em;
    color:var(--clr-iconic);
    transition: all 0.2s ease;
    padding:2px 4px;
}
.btn-close-new i:hover{
    font-size:1.5em;
    color:white;
    cursor: pointer;
}
.new-thought-form span{
    color: white;
    font-weight:300;
    padding: 10px;
    text-align: center;
}
.new-thought-header{
    background-image: var(--gradient-blue);
    border-radius: 0  0 10px 10px;
    font-family:var(--font-buttons);
    font-weight: 500 !important;
}
.name-info{
    font-size:10px;
    text-align: left !important;
    padding:2px !important;
    font-style: italic;
    margin-left:10px;
    font-family: var(--font-buttons);
}
.name-container{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    width:80%;
    position:relative;
    margin-top:30px;
    margin-bottom:40px;
}
input.thought-name{
    outline:none;
    border-radius:20px;
    padding:10px 15px;
    font-family: var(--font-buttons);
    border: none;
    font-weight: 300;
    font-size:16px;
}

.btn-submit-thought{
    outline: none;
    border:none;
    border-radius:20px;
    /* height:40px; */
    font-weight: 500;
    bottom:0;
    font-family: var(--font-buttons);
    padding: 15px 10px;
    color:white;
    background-image: var(--gradient-blue);
    box-shadow:0 0 5px var(--clr-shadow);
    transition: all 0.2s ease;
}
.btn-submit-thought:hover{
    box-shadow:0 0 5px var(--clr-shadow),
                0 0 20px var(--clr-shadow-blue);
    cursor: pointer;
  
}

.thought-color-pick{
    display:flex;
    flex-direction: row;
    margin-bottom:40px;
    gap:5px;
}
.color-choice{
    height:30px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.color-choice-active{
    border: 2px solid white;
}
.color-choice:hover{
    cursor: pointer;
}
.choice-blue{
    background-image: var(--gradient-blue);
}
.choice-red{
    background-image: var(--gradient-red);
}
.choice-green{
    background-image: var(--gradient-green);
}
.choice-orange{
    background-image: var(--gradient-orange);
}